.cards_wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.card__wrapper{
	border-radius: 2rem;
	padding: 0.8rem;
	box-shadow: 0.2rem 0.2rem 0.5rem gray;
}
.card_words{
	font-size: 1.5rem;
	font-family: var(--font-alt);
	padding-top: 1rem;
}
.card-button{
	width: 10rem;
	height: 3rem;
	background-color: gray;
	color: white;
	border-radius: 1.5rem;
	margin: 1rem;
	cursor: pointer;
	border: none;
}
.card__wrapper .cardImage{
	width: 27vw;
	height: 40vh;
}
@media screen and (max-width: 1150px) {
	.card__wrapper .cardImage{
		width: 40vw;
		height: 50vh;
	}
}
@media screen and (max-width: 650px) {
	.card__wrapper .cardImage{
		width: 80vw;
		height: 50vh;
	}
}